<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% block javascript %}
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/templated-spatial/assets/css/main.css') }}" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-steps.css') }}">
        <script src="{{ asset('css/templated-spatial/assets/js/jquery-steps.js') }}"></script>
        <link rel="icon" type="image/png" href="{{ asset('/favicon.png') }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> Findbike4.me</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>

{% block footer %}
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            Wrote by KuNman@2017
            <a href="contact">Contact</a>
        </div>
    </footer>
{% endblock %}
</body>
</html>