{% extends 'default/homepage.html.twig' %}
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('jquery-steps-master/examples/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('jquery-steps-master/dist/jquery-steps.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ asset('jquery-steps-master/dist/jquery-steps.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("select").select2({
                maximumSelectionLength: 2,
                width: '40%'
            });
            $('#demo').steps({
            });
            $(".step-btn-finish").click(function(){
                $(".step-result").click();
                return false;
            });
        });
    </script>
{% endblock %}
{% block content %}
<body class="landing">

<!-- Header -->
<header id="header" class="alt">
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>

<a href="/home"></a>

<!-- Banner -->
<section id="banner">
    <div id="demo">
        <div class="step-app">
            <ul class="step-steps">
                <li><a href="#step1">General</a></li>
                <li><a href="#step2">Suspension</a></li>
                <li><a href="#step3">Derailleur</a></li>
                <li><a href="#step4">Wheels</a></li>
            </ul>
            <div class="step-content">
                <div class="step-tab-panel" id="step1">
                    {{ form_start(form) }}
                    <center>{{ form_row(form.geometry, { 'label': 'What geometery you need? ' }) }} <p></p></center>
                    <center>{{ form_row(form.material, { 'label': 'Which frame material you prefer? ' }) }} <p></p></center>
                    <center>{{ form_row(form.year, { 'label': 'What model year you looking for? ' }) }} <p></p></center>

                </div>
                <div class="step-tab-panel" id="step2">
                    <center>{{ form_row(form.fork, { 'label': 'What is your favorite fork? ' }) }} <p></p></center>
                    <center>{{ form_row(form.damper, { 'label': 'What is your favorite damper? ' })  }}</center>

                </div>
                <div class="step-tab-panel" id="step3">
                    {#<center>{{ form_row(form.derailleur, { 'label': 'What is your favorite derailleur? ' }) }} <p></p></center>#}
                    <center>{{ form_row(form.gears, { 'label': 'How much gears you would have? ' })  }}</center>
                </div>
                <div class="step-tab-panel" id="step4">
                    <center>{{ form_row(form.size, { 'label': 'What size you prefer? ' })  }}<p></p></center>
                    <center>{{ form_row(form.wheels, { 'label': 'What rims material you prefer? ' })  }}</center>
                    <button data-direction="finish" class="step-result" style="display: none;">Finish</button>
                </div>
            </div>
            <div class="step-footer">
                <button data-direction="prev" class="step-btn">Previous</button>
                <button data-direction="next" class="step-btn">Next</button>
                <button data-direction="finish" class="step-btn-finish">Search</button>
            </div>
        </div>
    </div>
</section>
<!-- One -->
{% block details %}
    <section id="one" class="wrapper style1">
        <div class="container 75%">
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>How does it work?</h2>
                        <p>Why I wrote it?</p>
                    </header>
                </div>
                <div class="6u$ 12u$(medium)">
                    <p>I'am cyclist. I'am always excited when I buy new bike, like we all do. I noticed that I can't find out easily which bike is the best one for me. I wrote this application to do it easier, faster and simpler.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% endblock %}
